form {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 20;
	background-color: #b5beea;
	padding: 35px 20px;
	border-radius: 10px;
	opacity: 0.9;

	input {
		width: 100%;
		height: 30px;
		padding: 5px;
	}

	button {
		height: 30px;
		padding: 5px;
	}
}

div.hide {
	display: none;
}

.modal__close {
	position: absolute;
	top: 125px;
	right: 25px;
	cursor: pointer;
	transition: all 0.5s ease;
}

.modal__close:hover {
	transform: rotate(90deg);
}

.form_btn {
	cursor: pointer;
}

.form__modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #add8e6d1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.form__text {
	position: absolute;
	top: -110px;
	left: 0;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
}

.form__inner-modal {
	display: flex;
	justify-content: center;
	width: 300px;
	height: auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
