.navbar {
	height: 100px;
	padding: 0px 20px;
	background-color: black;
}

.links {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: end;

	a {
		color: white;
	}
}

.navbar .container {
	height: 100%;
}
